<img src="img/fotodiego.png" class="foto">
<p>Oi, meu nome é Diego. Sou formado em Design Gráfico, e atualmente trabalho como front-end.
    Apaixonado pela web, séries e esportes, estou sempre em busca de novos conhecimentos, seja lendo artigos,
    tutoriais no Youtube ou navegando perdido pela web mesmo. Dedico praticamente 70% do meu dia entre HTML5, CSS3, 
    JQUERY, entre outras linguagens. Para mais informações <a href="http://dhdesigner.com.br" target="_blank">clique aqui</a> e confira meu portfolio</p>