<div class="blog-masthead ">
    <div class="wrap">
        <nav class="blog-nav">
            <a href="http://dhdesigner.com.br">
            <img src="http://www.dhdesigner.com.br/img/favicon/apple-icon-57x57.png" class="logo">
            </a>
            <ul>
                <li>  <a class="blog-nav-item" ng-href="#/">Home</a> </li>
                <li> <a class="blog-nav-item" ng-href="#/novo">Novo Post</a> </li>
                <li> <a class="blog-nav-item" ng-href="#/login">Login</a> </li>
            </ul>
        </nav>
    </div>
</div>
<div class="blog-title">
    <div class="blog-header">
        <h1>Diego Souza</h1>
        <p class="lead blog-description"> Blog criado com intuito de aperfeiçoar tecnicas de HTML CSS3 e ANGULARJS.</p>
    </div>
</div>